 
 
 
 body { 
    background-color: blanchedalmond;
 }



 #nav-bar{

width: 100% ;
height:20% ;
background-color: rgb(243, 243, 150);
display: grid;

grid-template-columns:25% 25% 25% 25%;

 }


 .class {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30%;
    text-align: center;
 }